/* Barra di creazione post */
.post-form {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .post-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .option-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .option-button svg {
    margin-right: 10px;
  }
  
  .option-button:hover {
    background-color: #e2e2e2;
  }
  
  input[type="file"] {
    display: none;
  }
  